<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body id="grad1">
        <!-- MultiStep Form -->
        <div class="container-fluid">
            <div class="row justify-content-center mt-0">
                <div class="col-11 col-sm-9 col-md-7 col-lg-8 text-center p-0 mt-5 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-5 mb-3">
                        <h2><strong><a class="text-black" href="/">SADANG</a></strong></h2>
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <form id="msform" action="/sendMail" th:object="${member}" method="post">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>회원가입</strong></li>
                                        <li class="active" id="personal"><strong>본인 인증</strong></li>
                                        <li id="payment"><strong>인증 확인</strong></li>
                                        <li id="confirm"><strong>완료</strong></li>
                                    </ul> <!-- fieldsets -->

                                    <fieldset>
                                        <div class="form-card">
                                            <h3 class="fs-title">메일 인증</h3>
                                            </br>
                                            <input type="hidden" name="username" th:field="*{username}">
                                            <input type="hidden" name="userId" th:field="*{userId}">
                                            <input type="hidden" name="password" th:field="*{password}">
                                            <input type="hidden" name="address" th:field="*{address}">
                                            <input type="hidden" name="detailAddress" th:field="*{detailAddress}">
                                            <input id="email" type="email" class="input-form"  name="email" th:field="*{email}" placeholder="메일을 입력해주세요."/>
                                        </div>
                                        <input type="button" name="previous" class="previous action-button-previous"
                                               value="이전" onclick="history.go(-1)"/>
                                        <input id="sendMail" type="submit" name="next" class="action-button" value="이메일 전송"/>
                                    </fieldset>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>