<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <!-- MultiStep Form -->
        <div class="container-fluid">
            <div class="row justify-content-center mt-0">
                <div class="col-11 col-sm-9 col-md-7 col-lg-8 text-center p-0 mt-5 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-5 mb-3">
                        <h2><strong><a class="text-black" href="/">SADANG</a></strong></h2>
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <!--            action="/confirm" method="post"                    onclick="register()"-->

                                <form id="msform" class="registerForm" >
<!--                                    th:object="${verifyUser}"-->
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>회원가입</strong></li>
                                        <li class="active" id="personal"><strong>본인 인증</strong></li>
                                        <li class="active" id="payment"><strong>인증 확인</strong></li>
                                        <li id="confirm"><strong>완료</strong></li>
                                    </ul> <!-- fieldsets -->

                                    <!--                                    <fieldset>-->
                                    <div class="form-card">
                                        <h2 class="fs-title text-center">메일을 전송했습니다.</h2> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-3">
                                                <img src="https://img.icons8.com/color/96/000000/ok--v2.png"
                                                     class="fit-image">
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <input type="hidden" name="userId" th:value="${userId}">
                                                <h5>메일 확인 후 완료 버튼을 눌러주세요.</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous"
                                           value="이전" onclick="history.go(-1)"/>
                                    <input id="loginPage" type="button" name="make_payment" class="action-button"
                                           value="완료"/>
                                    <!--                                    </fieldset>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>