<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
             style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()"
             alt="닫기 버튼">
    </div>
    <body>
        <!-- MultiStep Form -->
        <div class="container-fluid">
            <div class="row justify-content-center mt-0">
                <div class="col-11 col-sm-9 col-md-7 col-lg-8 text-center p-0 mt-5 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-5 mb-3">
                        <h2><strong><a class="text-black" href="/">SADANG</a></strong></h2>
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <form id="msform" action="/signup" th:object="${signUpForm}" method="post">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>회원가입</strong></li>
                                        <li id="personal"><strong>본인 인증</strong></li>
                                        <li id="payment"><strong>인증 확인</strong></li>
                                        <li id="confirm"><strong>완료</strong></li>
                                    </ul> <!-- fieldsets -->
                                    <fieldset>
                                        </br>
                                        </br>
                                        <div class="form-card">
                                            <h3 class="fs-title">회원가입</h3>
                                            </br>
                                            <input id="name" type="text" class="input-form" th:field="*{name}"
                                                   placeholder="이름을 입력해주세요"/>
                                            <input id="username" type="text" th:field="*{username}"
                                                   placeholder="사용할 ID를 입력해주세요."/>
                                            <div id="id_check"></div>
                                            <input id="password" type="password" class="input-form"
                                                   th:field="*{password}" placeholder="비밀번호를 입력해주세요"/>
                                            <input type="button" onclick="sample6_execDaumPostcode()"
                                                   value="우편번호 찾기"><br>
                                            <input id="address" type="text" readonly th:field="*{address}"
                                                   placeholder="주소를 입력해주세요"/>
                                            <input id="detailAddress" type="text" class="input-form"
                                                   th:field="*{detailAddress}" placeholder="상세 주소를 입력해주세요"/>
                                        </div>
                                    </fieldset>
                                    <!--class="next action-button"-->
                                    <input id="home" type="button" class="action-button-previous"
                                           onclick="location.replace('/')" value="취소"/>
                                    <input id="userId-btn" type="submit" name="make_payment" class="action-button"
                                           value="다음"/>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>