<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body id="grad1">
        <!-- MultiStep Form -->
        <div class="container-fluid">
            <div class="row justify-content-center mt-0">
                <div class="col-11 col-sm-9 col-md-7 col-lg-8 text-center p-0 mt-5 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-5 mb-3">
                        <h2><strong>SADANG</strong></h2>
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <input id="myForm" type="submit" value="go">
                                <form id="msform" action="/signup" th:object="${signUpForm}" method="post">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>회원가입</strong></li>
                                        <li id="personal"><strong>본인 인증</strong></li>
                                        <li id="payment"><strong>인증 확인</strong></li>
                                        <li id="confirm"><strong>완료</strong></li>
                                    </ul> <!-- fieldsets -->
                                    <fieldset>
                                        </br>
                                        </br>
                                        <div class="form-card">
                                            <h3 class="fs-title">회원가입</h3>
                                            </br>
                                            <input id="username" type="text" th:field="*{username}" placeholder="사용할 ID를 입력해주세요."/>
                                            <div id="id_check"></div>
                                            <input type="password" class="input-form" th:field="*{password}" placeholder="비밀번호를 입력해주세요"/>
                                            <input type="text" class="input-form" th:field="*{address}" placeholder="주소를 입력해주세요"/>
                                        </div>
                                    </fieldset>
                                    <!--class="next action-button"-->
                                    <input id="userId-btn" type="submit" name="make_payment" class="action-button"
                                           value="다음"/>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>