<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <link href="/css/message.css" rel="stylesheet">
    <body>
        <div class="container mt-5 mb-5">
            <div class="row pr-2">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <div id="loginCheck">
                        <a class="btn font-weight-bold mr-2" href="/user/login"
                           th:if="${#strings.isEmpty(username)}">로그인</a>
                        <a class="btn font-weight-bold mr-2" href="/user/out"
                           th:if="${not #strings.isEmpty(username)}">로그아웃</a>
                        <a class="btn font-weight-bold mr-w" href="/signup"
                           th:if="${#strings.isEmpty(username)}">회원가입</a>
                        <a class="btn font-weight-bold mr-2" href="/myPage"
                           th:if="${not #strings.isEmpty(username)}">내 정보</a>
                        <a class="btn font-weight-bold" href="/chat/myChatRoom"
                           th:if="${not #strings.isEmpty(username)}">
                            <span>메세지</span>
                            <span id="plus" class="text-danger font-weight-bold"></span>
                            <span id="count-message" class="text-danger font-weight-bold"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-sm my-auto">
                <h1 id="h1-center">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>
                <br/>
                <br/>
                <div class="container">
                    <div class="messaging">
                        <div class="inbox_msg">

                            <!--                            채팅방 리스트-->
                            <div class="inbox_people">
                                <div class="headind_srch">
                                    <div class="recent_heading">
                                        <h4>채팅</h4>
                                    </div>
                                </div>
                                <div class="inbox_chat">
                                    <div id="roomList" th:each="room,index : ${roomList}">

                                        <!--                                        알람 보냄-->
                                        <input type="text" class="myRoomId" th:value="${room.roomId}" readonly hidden/>

                                        <div th:if="${room.buyer} == ${username}">
                                            <!--                                            <div class="chat_list"-->
                                            <div class="px-3 py-2 border-bottom"
                                                 th:classappend="${thisRoom} == ${room.roomId} ? active_chat">
                                                <a class="enterChatRoom"
                                                   th:href="@{/chat/room/enter/{id} (id = ${room.roomId})}">
                                                    <div class="chat_people">
                                                        <div class="chat_img">
                                                            <img src="/css/images/userProfile.png" alt="sunil">
                                                        </div>
                                                        <div class="chat_ib">
                                                            <div class="h5 mb-3 text-dark">
                                                                <span class="h6 text-dark">[[${room.seller}]]</span>

                                                                <span class="unRead float-right h6 text-danger font-weight-bold"
                                                                      type="text"
                                                                      th:classappend="${room.countReadStatus} == 0 ? ${room.roomId} : ${room.roomId} + ''"
                                                                      th:text="${room.countReadStatus} == 0 ? '' : ${room.countReadStatus}">
                                                                </span>
                                                                <span class="unRead float-right h6 text-danger font-weight-bold"
                                                                      type="text"
                                                                      th:classappend="${room.roomId} +'plus'"
                                                                      th:text="${room.countReadStatus} == 0 ? '' : '+'">
                                                                </span>
                                                            </div>
                                                            <div class="h6 text-muted">
                                                                [[${room.boardTitle}]]
                                                                <span class="float-right"
                                                                      th:classappend="${room.roomId} +'lastMessageTime'">[[${room.lastMessageTime}]]</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div th:if="${room.seller} == ${username}">
                                            <!--                                            <div class="chat_list"-->
                                            <div class="px-3 py-2 border-bottom"
                                                 th:classappend="${thisRoom} == ${room.roomId} ? active_chat">
                                                <a class="enterChatRoom"
                                                   th:href="@{/chat/room/enter/{id} (id = ${room.roomId})}">
                                                    <div class="chat_people">
                                                        <div class="chat_img">
                                                            <img src="/css/images/userProfile.png" alt="sunil">
                                                        </div>
                                                        <div class="chat_ib">
                                                            <div class="h5 mb-3 text-dark">
                                                                <span class="h6 mb-3 text-dark">[[${room.buyer}]]</span>

                                                                <span class="unRead float-right h6 text-danger font-weight-bold"
                                                                      type="text"
                                                                      th:classappend="${room.countReadStatus} == 0 ? ${room.roomId} : ${room.roomId} + ''"
                                                                      th:text="${room.countReadStatus} == 0 ? '' : ${room.countReadStatus}">
                                                                </span>
                                                                <span class="unRead float-right h6 text-danger font-weight-bold"
                                                                      type="text"
                                                                      th:classappend="${room.roomId} +'plus'"
                                                                      th:text="${room.countReadStatus} == 0 ? '' : '+'">
                                                                </span>
                                                                <!--                                                                th:classappend="${room.countReadStatus} == 0 ? ${room.roomId} : ${room.roomId} + ' bg-danger'"-->
                                                            </div>
                                                            <div class="h6 text-muted">
                                                                [[${room.boardTitle}]]
                                                                <span class="float-right"
                                                                      th:classappend="${room.roomId} +'lastMessageTime'">[[${room.lastMessageTime}]]</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                            메세지-->
                            <div class="mesgs">
                                <nav class="navbar navbar-light light-blue lighten-4"
                                     th:if="${not #strings.isEmpty(thisRoom)}">
                                    <!-- Navbar brand -->
                                    <a class="navbar-brand" href="#"></a>
                                    <div class="float-right">
                                        <a class="btn btn-primary" type="button"
                                           th:if="${buy == 'none'}"
                                           th:href="@{/board/buy/{roomId}(roomId=${thisRoom})}">구매하기</a>
                                        <a class="btn btn-warning" type="button"
                                           th:if="${buy == 'buy'}"
                                           th:href="@{/board/buy/{roomId}(roomId=${thisRoom})}">구매 취소하기</a>
                                        <a class="btn btn-danger" type="button"
                                           th:href="@{/chat/room/delete/{roomId}(roomId=${thisRoom})}">방 삭제</a>
                                    </div>
                                </nav>

                                <div id="message-history" class="msg_history">
                                    <div th:each="message,index : ${messages}">
                                        <!--                                    받은 메세지-->
                                        <div class="incoming_msg mb-3" th:if="${message.sender} != ${username}">
                                            <div class="incoming_msg_img">
                                                <img src="/css/images/userProfile.png" alt="sunil">
                                            </div>
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <p>[[${message.message}]]</p>
                                                    <span class="time_date"> [[${message.createdDate}]]</span>
                                                </div>
                                            </div>
                                        </div>

                                        <!--                                    보낸 메세지-->
                                        <div class="outgoing_msg mb-3" th:if="${message.sender} == ${username}">
                                            <div class="sent_msg">
                                                <p>[[${message.message}]]</p>
                                                <span class="time_date"> [[${message.createdDate}]]</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sendMessage"></div>
                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input id="message" type="text" class="write_msg"
                                               placeholder="Type a message"/>
                                        <button id="send" class="msg_send_btn" type="button" disabled="true">
                                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <input type="text" id="nickname" class="form-inline" th:value="${username}"
                       readonly hidden>

                <!--                <div th:if="${not #strings.isEmpty(thisRoom)}">-->
                <input th:value="${thisRoom} == '' ? '' : ${thisRoom}" id="roomId" class="form-inline" readonly hidden>
                <!--                </div>-->
                <div th:replace="fragments/roomFooter :: footer"></div>
            </div>
        </div>
    </body>
</html>
