<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <link href="/css/message.css" rel="stylesheet">
    <body>
        <div class="container mt-5 mb-5">
            <div class="row pr-2">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <div id="loginCheck">
                        <a id="loginVerify" class="mr-3"></a>
                        <a id="signUp"></a>
                        <a id="myInfo"></a>
                    </div>
                </div>
            </div>
            <div class="container-sm my-auto">
                <h1 id="h1-center">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>
                <br/>
                <br/>
                <div class="container">
                    <div class="messaging">
                        <div class="inbox_msg">

                            <!--                            채팅방 리스트-->
                            <div class="inbox_people">
                                <div class="headind_srch">
                                    <div class="recent_heading">
                                        <h4>채팅</h4>
                                    </div>
                                    <!--<div class="srch_bar">
                                        <div class="stylish-input-group">
                                            <input type="text" class="search-bar" placeholder="Search">
                                            <span class="input-group-addon">
                                                <button type="button">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="inbox_chat">
                                    <div id="roomList" th:each="room,index : ${roomList}">
                                        <input type="text" class="myRoomId" th:value="${room.roomId}" readonly hidden/>

                                        <div class="chat_list"
                                             th:classappend="${thisRoom.getRoomId()} == ${room.roomId} ? active_chat"
                                             th:if="${room.buyerName} == ${username}">
                                            <a th:href="@{/chat/room/enter/{id} (id = ${room.roomId})}">


                                                <div class="chat_people">
                                                    <div class="chat_img">
                                                        <!--<img src="https://ptetutorials.com/images/user-profile.png"
                                                             alt="sunil">-->
                                                        <img src="/css/images/userProfile.png" alt="sunil">
                                                    </div>
                                                    <div class="chat_ib">
                                                        <h5>[[${room.sellerName}]]
                                                            <span class="chat_date">Dec 25</span>
                                                        </h5>
                                                        <p>[[${room.boardTitle}]]</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="chat_list"
                                             th:classappend="${thisRoom.getRoomId()} == ${room.roomId} ? active_chat"
                                             th:if="${room.sellerName} == ${username}">
                                            <a th:href="@{/chat/room/enter/{id} (id = ${room.roomId})}">
                                                <div class="chat_people">
                                                    <div class="chat_img">
                                                        <!--<img src="https://ptetutorials.com/images/user-profile.png"
                                                             alt="sunil">-->
                                                        <img src="/css/images/userProfile.png" alt="sunil">
                                                    </div>
                                                    <div class="chat_ib">
                                                        <h5>[[${room.buyerName}]]
                                                            <span class="chat_date">Dec 25</span>
                                                        </h5>
                                                        <p>[[${room.boardTitle}]]</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--                            메세지-->
                            <div class="mesgs">
                                <div id="message-history" class="msg_history">
                                    <div th:each="message,index : ${messages}">
                                        <!--                                    받은 메세지-->
                                        <div class="incoming_msg mb-3" th:if="${message.sender} != ${username}">
                                            <div class="incoming_msg_img">
<!--                                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">-->
                                                <img src="/css/images/userProfile.png" alt="sunil">
                                            </div>
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <p>[[${message.message}]]</p>
                                                    <span class="time_date"> 11:01 AM    |    June 9</span>
<!--                                                    <span class="time_date"> [[${message.createdDate}]]   |    June 9</span>-->
                                                </div>
                                            </div>
                                        </div>

                                        <!--                                    보낸 메세지-->
                                        <div class="outgoing_msg mb-3" th:if="${message.sender} == ${username}">
                                            <div class="sent_msg">
                                                <p>[[${message.message}]]</p>
                                                <span class="time_date"> 11:01 AM    |    June 9</span>
<!--                                                <span class="time_date"> [[${message.createdDate}]]   |    June 9</span>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sendMessage"></div>
                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input id="message" type="text" class="write_msg" placeholder="Type a message"/>
                                        <button id="send" class="msg_send_btn" type="button">
                                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" id="nickname" class="form-inline" th:value="${username}"
                       readonly hidden>

                <div th:if="${not #strings.isEmpty(thisRoom)}">
                    <input th:value="${thisRoom.roomId}" id="roomId" class="form-inline" readonly hidden>
                </div>
                <div th:replace="fragments/roomFooter :: footer"></div>
            </div>
        </div>
    </body>
</html>
