<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div class="container mt-5 py-5">
            <div class="container-sm my-auto mb-5">
                <h1 id="h1-center" class="pb-5 mb-5">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>

                <div class="container">
                    <table class="table table-striped">
                        <form method="post" action="/chat/room">
                            <input name="roomName">
                            <button class="btn btn-primary pull-right" type="submit">새로 만들기</button>
                        </form>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>방 이름</th>
                                <th>입장버튼</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="room : ${rooms}">
                                <td th:text="${room.roomId}"></td>
                                <td th:text="${room.name}"></td>
                                <td>
                                    <a class="btn btn-primary" th:href="@{/chat/room/enter/{id} (id = ${room.roomId})}">입장</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>

</html>


