<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div class="container mt-5 mb-5">
            <div class="row pr-2">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <div id="loginCheck">
                        <a class="btn font-weight-bold mr-2" href="/login"
                           th:if="${#strings.isEmpty(username)}">로그인</a>
                        <a class="btn font-weight-bold mr-2" href="/user/out"
                           th:if="${not #strings.isEmpty(username)}">로그아웃</a>
                        <a class="btn font-weight-bold mr-w" href="/signup"
                           th:if="${#strings.isEmpty(username)}">회원가입</a>
                        <a class="btn font-weight-bold mr-2" href="/myPage"
                           th:if="${not #strings.isEmpty(username)}">내 정보</a>
                        <a class="btn font-weight-bold" href="/chat/myChatRoom"
                           th:if="${not #strings.isEmpty(username)}">
                            <span>메세지</span>
                            <span id="plus" class="text-danger font-weight-bold"></span>
                            <span id="count-message" class="text-danger font-weight-bold"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-sm my-auto">
                <h1 id="h1-center" class="mb-5">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>
                <h4>팔자</h4>
                <br/>
                <form id="frm" role="form" th:action="@{/board/new}" th:object="${boardForm}" class="form"
                      method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label th:for="title">제목</label>
                        <input id="title" type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}"
                             th:errors="*{title}"></div>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label th:for="price">가격</label>
                        <input id="price" type="text" th:field="*{price}" class="form-control" placeholder="숫자만 입력해주세요">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}"
                             th:errors="*{price}"></div>
                        <br/>
                    </div>

                    <div class="form-group">
                        <label th:for="content">내용</label>
                        <textarea id="content" type="text" th:field="*{content}" class="form-control h-25" rows="10"
                                  placeholder="내용을 입력하세요"></textarea>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('content')}"
                             th:errors="*{content}"></div>
                    </div>
                    <div class="form-group">
                        <input type="file" name="uploadFile" multiple/>
                    </div>

                    <div class="nav justify-content-end">
                        <a class="btn btn-primary marRight" data-toggle="modal"
                           href="#"
                           data-target="#cancelWrite">취소</a>
                        <div class="modal fade" id="cancelWrite" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">글쓰기</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>글 작성을 취소하시겠습니까?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal"
                                                class="btn btn-secondary">
                                            취소
                                        </button>
                                        <a class="btn btn-primary" href="/">확인</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="btn" type="submit" class="btn btn-primary">등록</button>
                    </div>
                </form>
                <footer class="my-5 pt-5"></footer>
            </div>
        </div>
        <p id="roomList" th:each="roomId : ${roomIdList}" class="col-sm-3 p-1" hidden>
            <input type="text" class="myRoomId" th:value="${roomId.roomId}" readonly hidden/>
        </p>
        <div id="show-toastr"></div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>