<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div class="container mt-5 mb-5">
            <div class="row pr-2">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <div id="loginCheck">
                        <a id="loginVerify" class="mr-3"></a>
                        <a id="signUp"></a>
                        <a id="myInfo"></a>
                        <a id="message"></a>
                    </div>
                </div>
            </div>
            <div class="container-sm my-auto">
                <h1 id="h1-center">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>
                <div class="slide-container mt-5">

                    <div th:if="${not #lists.isEmpty(board.fileIdList)}" class="bxslider">
                        <div class="slide" th:each="file : ${board.fileIdList}">
                            <a th:href="@{/images/{id}(id=${file})}">
                                <img class="center-cropped img-fluid" th:src="@{/images/{id}(id=${file})}">
                            </a>
                        </div>
                    </div>

                    <form class="form-group">
                        <div class="form-group">
                            <label>
                                <span class="font-weight-bold" th:text="${board.member}"></span>
                            </label>
                            <div th:text="${board.address}"></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="font-weight-bold h5" th:text="${board.title}"></div>
                                    <div class="font-weight-bold text-primary mb-4">[[${board.price}]] 원</div>
                                    <div th:text="${board.content}"></div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a id="modify-board" class="btn" th:href="@{/board/update/{id}(id=${board.id})}">글 수정</a>
                            <a id="delete-board" class="btn" data-toggle="modal" data-target="#deletePost" href="#">글삭제</a>
                            <a id="enter-chat" class="btn btn-default" th:href="@{/chat/room/{id}(id=${board.id})}">채팅</a>
                            <a class="btn btn-default" href="/">목록으로</a>
                        </li>
                    </ul>


                    <div class="modal fade" id="deletePost" tabindex="-1"
                         role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p>게시글을 삭제하시겠습니까?</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-secondary">
                                        취소
                                    </button>
                                    <button type="button"
                                            th:onclick="'window.location.href=\'/board/delete/' + ${board.id} + '\''"
                                            class="btn btn-primary">
                                        확인
                                    </button>
                                    <!--<form method="post" th:action="@{/board/delete/{id}(id=${board.id})}">
                                        <button class="btn btn-primary" data-dismiss="modal" type="submit">
                                            확인
                                        </button>
                                    </form>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p id="roomList" th:each="roomId : ${roomIdList}" class="col-sm-3 p-1" hidden>
                    <input type="text" class="myRoomId" th:value="${roomId.roomId}" readonly hidden/>
                </p>
                <footer class="my-5 pt-5"></footer>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>

    <script src="/js/board.js"></script>
</html>