<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div class="container mt-5 py-5">
            <div class="container-sm my-auto">
                <h1 id="h1-center">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>
                <br/>
                <br/>
                <br/>
                <div class="slide-container">

                    <div th:if="${not #lists.isEmpty(board.fileIdList)}" class="bxslider">
                        <div class="slide" th:each="file : ${board.fileIdList}">
                            <a th:href="@{/images/{id}(id=${file})}">
                                <img class="center-cropped img-fluid" th:src="@{/images/{id}(id=${file})}">
                            </a>
                        </div>
                    </div>

                    <form class="form-group">
                        <div class="form-group">
                            <label>
                                <span class="font-weight-bold" th:text="${board.member}"></span>
                            </label>
                            <div th:text="${board.address}"></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="font-weight-bold h5" th:text="${board.title}"></div>
                                    <div class="font-weight-bold text-primary mb-4">[[${board.price}]] 원</div>
                                    <div th:text="${board.content}"></div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="btn btn-default" href="/chat/rooms">채팅</a>
                            <a class="btn btn-default" href="/">목록으로</a>
                        </li>
                    </ul>
                </div>

                <footer class="my-5 pt-5"></footer>
            </div>
        </div>
    </body>

    <script src="/js/board.js"></script>
</html>