<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div class="container mt-5 mb-5">
            <div class="row pr-2">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <div id="loginCheck">
                        <a id="loginVerify" class="mr-3"></a>
                        <a id="signUp"></a>
                        <a id="myInfo" class="mr-3"></a>
                        <a id="enter-chatRoom">
                            <span id="unReadMessages"></span>
                            <span id="plus" class="text-danger">+</span>
                            <span id="count-message"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-sm my-auto">
                <h1 id="h1-center">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>
                <br/>
                <nav class="navbar border-bottom">
                    <h5 class="mt-3">내 글</h5>
                </nav>
                </br>
                <div class="row">
                    <div th:each="board, stat : ${myBoardList}" class="col-sm-3 p-1">
                        <div class="card mb-3 p-0 border-0">
                            <div class="card-body cursor-pointer border-0">
                                <div th:onclick="'javascript:goBoard('+ ${board.id} + ');'"
                                     th:href="@{/board/{id}(id=${board.id})}">

                                    <img class="thumbnail-image" th:src="@{/thumbnail/{id}(id=${board.thumbnailId})}">
                                    <div class="card-text font-weight-bold text-truncate"
                                         th:text="${board.title}"></div>
                                    <div class="card-text font-weight-bold">[[${board.price}]] 원</div>
                                </div>


                                <ul class="nav justify-content-center">
                                    <li class="nav-item">
                                        <a class="btn" th:href="@{/board/update/{id}(id=${board.id})}">글 수정</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn" data-toggle="modal" data-target="#deletePost" href="#">
                                            글삭제
                                        </a>

                                    </li>
                                </ul>


                            </div>
                        </div>


                        <div class="modal fade" id="deletePost" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>게시글을 삭제하시겠습니까?</p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal"
                                                class="btn btn-secondary">
                                            취소
                                        </button>
                                        <button type="button"
                                                th:onclick="'window.location.href=\'/myboard/delete/' + ${board.id} + '\''"
                                                class="btn btn-primary">
                                            확인
                                        </button>
                                        <!--<form method="post" th:action="@{/board/delete/{id}(id=${board.id})}">
                                            <button class="btn btn-primary" data-dismiss="modal" type="submit">
                                                확인
                                            </button>
                                        </form>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <p id="roomList" th:each="roomId : ${roomIdList}" class="col-sm-3 p-1" hidden>
                    <input type="text" class="myRoomId" th:value="${roomId.roomId}" readonly hidden/>
                </p>
                <footer class="my-5 pt-5"></footer>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
    <script src="/js/board.js"></script>
</html>