.marTop {
    margin-top: 70px;
}
.marRight {
    margin-right: 10px;
}
.marBot{
    margin-bottom: 10px;
}
input::-webkit-file-upload-button {
    cursor: pointer;
}
.table-row{
    cursor:pointer;
}
.marBottom{
    margin-bottom: 5px;
}
.fieldError {
    border-color: #bd2130;
}