<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div class="container mt-5 mb-5">
            <div class="row pr-2">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <div id="loginCheck">
                        <a id="loginVerify" class="mr-3"></a>
                        <a id="signUp"></a>
                        <a id="myInfo"></a>
                    </div>
                </div>
            </div>
            <div class="container-sm my-auto">
                <h1 id="h1-center">
                    <a class="text-dark" href='/'>SADANG</a>
                </h1>
                <br/>
                <nav class="navbar marBottom">
                    <a href="/board/new">글쓰기</a>
                    <form class="form-inline my-2 my-lg-0" action="/" method="get">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                               name="search" th:value="${param.search}">
                        <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                    </form>
                </nav>
                </br>
                <div class="row">
                    <div th:each="board, stat : ${boardList}" class="col-sm-3 p-1">
                        <div class="card mb-3 p-0 border-0">
                            <div class="card-body cursor-pointer border-0"
                                 th:onclick="'javascript:goBoard('+ ${board.id} + ');'"
                                 th:href="@{/board/{id}(id=${board.id})}">
                                <img class="thumbnail-image" th:src="@{/thumbnail/{id}(id=${board.thumbnailId})}">
                                <div class="card-text font-weight-bold text-truncate" th:text="${board.title}"></div>
                                <div class="card-text sm-font text-muted" th:text="${board.address}"></div>
                                <div class="card-text font-weight-bold">[[${board.price}]] 원</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="my-5 pt-5"></footer>
        </div>
    </body>
    <script src="/js/board.js"></script>
</html>